@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: larger;
}

:root {
    --primary-color: hsl(94,55%,56%);
    --hover-color: hsl(93,75%,76%);
    --pale-green: hsl(96, 75%, 89%)`;
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 18%);
    --grey-text: hsl(0, 0%, 75%);
    --bgColor: hsl(113, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);
    --inputColor2: hsl(154, 14%, 90%);

    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 1rem;
    --smallFontSize: 0.875rem;
    --smallestFontSize: 0.75rem;
}

.flex {
    display: flex;
    // justify-content: center;
    align-items: center;

}

.grid {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    gap: 1.5rem;
}

html {
    font-size: 90%;
}

a {
    text-decoration: none;
    // color: var(--black-color);
}

li {
    list-style: none;
}

.icon {
    font-size: var(--h2FontSize);
    cursor: pointer;
}

img,video{
    width: 100%;
    height: auto;
}

.message {
    display: none;
    color: var(--primary-color);
    font-size: var(--h3FontSize);
    font-weight: 800;
}

.showMesage{
    display: block;
    color: var(--white-color);
    background-color: rgb(255,0,0,0.8);
    border-radius: 3px;
    text-align: center;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1rem;
    color: var(--grey-text);

}

.btn .icon {
    margin-right: .5rem;
}

.btn:hover {
    color: var(--primary-color);
    background-color: var(--pale-green);
}